.comments {
  font-size: 13px;
}

.comments textarea {
  width: 250px;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.comments .comment-list {
  margin-top: 15px;
}

.comments .error {
  color: red;
  padding: 5px 0;
}

.component {
  width: 100%;
  color: #777777;
  font-weight: 700
}
.toolBar{
  width: 60%;
  margin-top: 60px;
  margin-left: 20%
}
.searchInput{
  width: 100%;
  height: 27px;
  border: 2px solid #dddddd;
  text-align: center;
  background-image: url(/images/search.png);
  background-position: right;
  background-repeat: no-repeat;
}
.searchClick{
  width: 24px;
  height: 24px;
  right: 0px;
  position: absolute;
  margin-top: -24px;
  margin-right: 20%;
  cursor: pointer
}
.payload{
  margin-top: 60px
}
.resultTool{
  width: 80%;
  margin-left: 10%;
  height: 24px;
  line-height: 24px
}
.plzSelect{
  width: 30%;
  display: inline;
  float: left;
  font-weight: 700;
  font-size: 12px;
  text-align: left
}
.createNew{
  width: 30%;
  display: inline;
  float: right;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  cursor: pointer
}
.resultTitle{
  width: 80%;
  background-color: #eeeeee;
  margin-left: 10%;
  height: 24px;
  line-height: 24px
}
.resultTitleCell{
  width: 30%;
  display: inline;
  float: left;
  font-weight: 700;
  font-size: 12px
}

.result{
  width: 80%;
  margin-left: 10%;
  height: 36px;
  line-height: 36px;
  cursor: pointer
}
.resultCell{
  width: 30%;
  display: inline;
  float: left;
  font-size: 12px
}
.createSave{
  width: 30%;
  margin-top: 100px;
  display: inline;
  float: right;
  font-weight: 700;
  font-size: 12px
}
.createCancle{
  width: 30%;
  margin-top: 100px;
  display: inline;
  float: right;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer
}
.clickSpan{
  cursor: pointer
}
